body {
  margin: 0;
  font-family: Abhaya;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3B91DA;
  color:#5A5F6F !important;
}




@font-face{
  font-family: "Abhaya";
 
  src: local('Abhaya'), url(./assets/fonts/AbhayaLibre-ExtraBold.ttf) format('truetype');
}