body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3B91DA;
  
}


*{
  font-family: Abhaya;
  color:#5A5F6F ;
}



@font-face{
  font-family: "Abhaya";
 
  src: local('Abhaya'), url(./assets/fonts/AbhayaLibre-ExtraBold.ttf) format('truetype');
}